@{
    ViewBag.Title = "FaceTweet";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css", "~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="center-text" >
            <h1 class="bold-text">Welcome to FaceTweet</h1>
        </div>

        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
